@model int

<div class="row pt-4 mb-4 mt-5">
    <div class="col-12 text-center">
        <h1> Order Placed Succesfully!</h1>
        Your Order Number is : @Model<br /><br />
        <img src="/images/lawn_leaf.jpg" width="65%" hieght="50%" />

    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        your Order Has been Placed Succecfully <br />
    </div>
</div>